* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-direction: column;
}
header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 20px 25px;
    flex-wrap: wrap;
    background-color: #CCCCCC;
}
.logo {
    flex: 1;
}
header .logo h3 {
    max-width: 180px;
    padding: 20px;
    background-color: #191717;
    color: #FFFFFF;
    font-size: 20px;
    text-transform: uppercase;
}
.menu {
    display: flex;
    flex-wrap: wrap;
}
.menu a {
    padding: 20px 25px;
    margin-right: 0.5rem;
    text-decoration: none;
    color: #FFFFFF;
    background-color: #2b88d8;
    font-size: 18px;
    transition: 1s ease;
}
.menu a:hover {
    background-color: #004578;
}
a.active {
    background-color: #004578;    
}
.content {
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    font-size: 18px;
}
.content > .title {
    margin-bottom: 2rem;
}
.products {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    flex-wrap: wrap;
    margin-top: 2rem;
}
.products .item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #CCCCCC;
    border-radius: 10px;
    padding: 10px 15px;
}
.products .item .image {
    width: 250px;
}
.products .item .title {
    margin: 1rem;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px;
    background-color: rgba(0, 0, 0, 0.9);
    color: #fff;
    font-size: 18px;
}